.novidades {
    background-color: var(--fundo-cabecalho);
    padding: 28px 24px;
}

.titulo-novidades {
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 18px;
    color: #002F52;
    padding-bottom: 1em;
}

.texto-novidades {
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 1em;
}

.email {
    color: #002F52;
    background-color: transparent;
    border: 1px solid #002F52;
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    
}

.email::placeholder {
    background: url("../AluraBooks/Email.svg") no-repeat;
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    padding-left: 33px;
    color: #002F52;
}

@media screen and (min-width: 1024px) {
    .novidades {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo-novidades {
        font-size: 24px;
        font-weight: 500;
    }

    .email {
        width: 30%;
    }

    .novidades__descricao {
        margin-right: 2em;
        width: 30%;
    }

    .email:focus {
        width: 40%;
    }
}

@media screen and (min-width:1728px) {
    .novidades {
        padding: 3em 20vw;
    }
}